<nav class="navbar navbar-dark header-bg">
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="btn btn-warning" href="#">Dashboard</a>
      <a class="nav-item nav-link" href="#">Decoys</a>
<!--      <a class="nav-item nav-link" href="#">Contact</a> -->
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
        <button type="button" class="btn btn-primary">
            Notifications <span class="badge badge-light">4</span>
          </button>
      <a class="navbar-brand" href="/">&nbsp;&nbsp;Deceframe</a>
    </div>
  </div>
  <ul class="navbar-nav">
     
    <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="../login" class="nav-link">Login</a></li>
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="../logout" class="nav-link">LogOut</a></li>
  
  </ul>
</nav>